body {
    background-color: #414451;
}


.menu {
    position: absolute;
    right: 0;
    top: 35px;
    padding: 0px 25px 0px 0px;

}
input[type="checkbox"]  {
    display: none;
}

.content1 {
    width: 350px;
    height: 80px;
    background-image: url(../img/0.png);
    background-size: cover;
    background-position: center;

}
.content2 {

}
.content21 {
    font-family: Tahoma;
    color: #ffffff;
    font-size: 24px;
    display: inline-block;
    margin: 0px 0px 0px 50px;


}
.gun {
    margin: 50px;
    width: 750px;
    background-color: #636363;

    border-radius: 25px;
    transition: all 0.2s ease;
    display: inline-block;


   
}
.gun:hover {
    box-shadow: 0px 0px 40px #a2a2a2;
    transform: scale(1.04);
}
.gunpic {
    width: 534px;
    height: 350px;
    background-color: grey;
    border-radius: 25px 25px 25px 25px;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: left;
}
.guntitle {

font-size: 28px;
margin: 15px;
margin-top: -10px;
}
.more {
    display: inline-block;
    font-size: 28px;

    float: right;
    margin: 30px;
    display: inline-block;
    color: violet;
}
.guninfo {
    width: calc(750px - 534px);
    float: right;
    font-family: Tahoma;
    color: #f2f2f2;
    border-radius: 0 25px 25px 0;
    text-align: left;
    padding: 25px 0 25px 0;
}
.gundesc {
    margin: 15px;
    font-size: 16px;
}
.detaileddesc {
    font-size: 26px;
    color: #FFFFFF;
    margin: 80px 100px 100px 80px;
}
.content3 {
    position: relative;
    width: 80px;
}
.content31 {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/insta.png);
}
.content4 {
    display: inline-block;
    position: relative;
    width: 80px;
    margin-top: 20px;
    bottom: 10;
    margin-left: calc(750px - 166px - 267px - 80px);
}
.content41 {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/insta.png);
}
.gun1 {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 760px;

}
.gunpic1 {
    margin: 5px;
    height: 135px;
    width: 240px;
    background-image: url(../img/7.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;

}
iframe {
    margin-top: 15px;
    width: 750px;
    height: 419px;
}
.stats {
    width: 90%;
    text-align: left;
    transition: all 0.2s ease;
    float: left;
}
.statsinfo {
    font-size: 24px;
    color: #FFFFFF;

}
.ms {
    font-weight: bold;
    background-color: #AD2E24;
    margin-bottom: 50px;
    transition: 0.5s;
    background-size: 200% auto;
    color: #000000;
    font-family: Tahoma;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.ms:hover {
    background-position: right center;
}
.button1 {
    background-image: linear-gradient(to right, #00e5ff, #1200ff);

}
.button2 {
    background-image: linear-gradient(to right, #00ff5b, #0014ff);

}
.button3 {
    background-image: linear-gradient(to right, #ff2cdf, #0014ff);

}
.button4 {
    background-image: linear-gradient(to right, #ff0a6c, #2d27ff);

}
.button5 {
    background-image: linear-gradient(to right, #ffe53b, #00ffff);

}
.button6 {
    background-image: linear-gradient(to right, #00e1fd, #fc007a);

}
.top {
    margin-top: 50px;
    font-size: 36px;
    height: 75px;
    padding-top: 20px;
    text-align: center;
    border-radius: 25px;
    color: #ffffff;
    background-color: #636363;
    margin-bottom: 50px;
    font-family: Tahoma;
}
a:link {
    color: #FFFFFF;
}
a:visited {
    color: #FFFFFF;
}